{% extends "base.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_base }}index.php">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ resproyecto }}</li>
    </ol>
</nav>
<h1>Informacion de tesis</h1>
<div class="card  mb-3">
  <div class="card-header">
    Detalles de la Tesis
  </div>
  <div class="card-block">
      {% for item in infoProyect  %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Titulo: {{ item.pytitulo_actual }}</li>
        <li class="list-group-item">Resolucion: {{ item.pyresolucion_nro  }}</li>
        <li class="list-group-item">Area: </li>
        <li class="list-group-item">Linea de Investigacion: </li>
        <li class="list-group-item">Autores: </li>
        <li class="list-group-item">Cargo: </li>
      </ul>
    {% endfor %}
  </div>
</div>

{% if hasFileOrNot == 1 %}
<div class="alert alert-warning mb-3" role="alert">
  falta el archivo inicial
</div>
{% endif %}

{% if hasFileOrNot == 0 %}
    <div class="mb-3">
        <a class="btn btn-primary" href="{{ url_base }}index.php?controller=NewObservacion&id={{ idproyecto }}" role="button">Nueva Observacion</a>
        {% if informe %}
            <a class="btn btn btn-secondary" href="{{ informe }}" role="button">Ver el Ultimo Informe</a>
        {% else %}
            <button type="button" class="btn btn-secondary" disabled>Ver el Ultimo Informe</button>
        {% endif %}
    </div>
{% endif %}

{% if observaciones is empty %}
    <div class="alert alert-warning mb-2" role="alert">
        No hay observaciones generadas.
    </div>
    <br>
{% else %}
<div class="card mb-3">
  <div class="card-header">
    Observaciones
  </div>
  <div class="card-block">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Fecha de Observacion</th>
            <th scope="col">Actividad</th>
            <th scope="col">Observacion</th>
            <th scope="col">Levantamiento</th>
            <th scope="col">estado</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>

            {% for item in observaciones %}
            <tr>
              <td>{{ item.Obsfecha_obs }}</td>
              <td>{{ item.Obsactividad }}</td>
              <td>{{ item.Obsobservacion}}</td>
              <td>{{ item.Obslevantamiento }}</td>
              <td>
                  {% if item.Obsestado == 2 %}<span class="text-warning">Pendiente</span>{% endif %}
                  {% if item.Obsestado == 1 %}<span class="text-success">Lavantado</span>{% endif %}
                  {% if item.Obsestado == 0 %}<span class="text-danger">No levantado</span>{% endif %}

                  <!-- Levantado -->
                  <!-- Pendiente -->
                  <!-- No levantado -->
              </td>
              <td>
                <a href="{{ url_base }}index.php?controller=EditObservacion&id={{ item.idobservacion }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripsts %}

{% endblock %}
