{% extends "base.twig" %}

{% block content %}
    <h3>{{ saludo }}</h3>
    <h1>{{ nombre }}</h1>

    {% if Tesista %}

    <div class="row">
        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="card mb-3">
              <div class="card-header">
                informacion de tesis
              </div>
              <div class="card-body">
                    <ul class="list-group">
                    {% for item in Tesista %}
                        <li class="list-group-item">Titulo: {{ item.pytitulo_actual }}</li>
                        <li class="list-group-item">Resolucion No: {{ item.pyresolucion_nro }}</li>
                        <li class="list-group-item">Estado:
                            {% if item.pyestado == 1 %}<span class="text-success">Activo</span>{% endif %}
                            {% if item.pyestado == 0 %}<span class="text-danger">InActivo</span>{% endif %}
                        </li>
                        <li class="list-group-item">Fechade emision: {{ item.pyresolucion_fecha }}</li>
                    {% endfor %}
                        <li class="list-group-item">Tiene Proyecto: {% if hasProject == 1 %} <span class="text-danger">No has subido tu proyecto</span>{% else %}<span class="text-success">Tiene Proyecto</span>{% endif %}

                        </li>
                    </ul>
              </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="card">
              <div class="card-header">
                Acciones
              </div>
              <div class="card-body">

                  <a href="{{ url_base }}index.php?controller=InformeUpload" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Subir Informe</a>
                  <a href="{{ url_base }}index.php?controller=RisingObservations" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Levantamiento de Observaciones</a>

              </div>
            </div>
        </div>


    </div>

    {% else %}

    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Hola!</h4>
      <p>todavia no tienes un proyecto asigando intentalo mas tarde o ponte en contacto con la Escula =)..</p>
      <hr>
      <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>

    {% endif %}

{% endblock %}

{% block scripsts %}

{% endblock %}
