{% extends "base.twig" %}

{% block progressbar %}
<div class="progress" style="height: 5px;">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_base }}index.php">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subir Informe</li>
        </ol>
    </nav>

    {% if proyectoDir == 1 %}

    <h1>Subir Informe</h1>
    <div class="card mb-3">

        <div class="card-body">
          <h3>Todavia no has subido tu informe ....</h3>
          <h4>Selecciona tu informe en *.pdf.</h4>

            <div class="input-group">
              <div class="custom-file">
                <input type="file" name="fileupload[]" class="custom-file-input" id="fileupload" multiple>
                <label class="custom-file-label" for="fileupload"></label>
              </div>
            </div>
        </div>
    </div>

    {% else %}

        <h1>Ya tienes un Proyecto</h1>
        <embed src="{{ proyectoArc }}" width="500" height="375"/>

    {% endif %}

    <div id="testing">

    </div>
{% endblock %}

{% block scripsts %}
    <script src="{{ url_base }}public/node_modules/blueimp-file-upload/js/vendor/jquery.ui.widget.js" ></script>
    <script src="{{ url_base }}public/node_modules/blueimp-file-upload/js/jquery.fileupload.js" ></script>
    <script src="{{ url_base }}public/js/tesista/informeUpload.js" ></script>
{% endblock %}
